.navMenu{
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    h1{
      color: white;
      font-size: 20px;
      width: 120px;
      margin-left: 6px;
    }
  }
}